body {
	line-height: 100%; 
	margin: 100px 0 0 0;
	width: 100%;
	font-family: tahoma;
	text-align: justify;
	background: #19193b;
}
header {
	padding: 0;
	position: fixed;
	top: 0;
	background-image: url("images/menu-bg.png"); 
	width: inherit;
	height: 100px;
	box-shadow: 0 1px 20px #000000;
}
.centerpage
{  
	margin: 20px 80px;
	border-radius: 10px;
	min-height: 314px;
	background: white; 
	padding: 20px;
	box-shadow: 0 0 10px #000000;
}

/* Logo header item */
.logo {
	margin: 0;
	padding: 0;
	padding-right: 0;
	float: left;
	width: 30%;
	height: 100px;
	display: table-row;
}
.logo img {
	margin: 15px 20px;
	height: 70px;
}

/* Login/Welcome header item */
.loginOrWelcome {
	position: relative;
	margin: 0;
	padding: 0;
	float: right;
	text-align: right;
	width: 15%;
	height: 100px;
}
.loginOrWelcome > form, .loginOrWelcome > div {
	position: absolute;
	right: 0;
	left: auto;
	white-space: nowrap;
	overflow: hidden;
}
.loginOrWelcome > form {
	margin: 9px 20px;
}
.loginOrWelcome > div {
	margin: 39px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.loginOrWelcome span {
	color: rgb(151,50,31);
	text-shadow: 0 -1px 2px rgb(13, 13, 13);
}
.loginOrWelcome td {
	text-align: center;
}

/* Register account header item */
#background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
}
#signup {
	position: fixed;
	width: 350px;
	left: 50%;
	top: 20%;
	margin-left: -175px;
}
#signup > table {
	background-color: rgb(151, 50, 31);
	box-shadow: 0 0 10px #000000;
	padding:0.5em;
	border-radius: 15px;
	width: 100%;
}
#usernameText, #passwordText, #password2Text {
	text-align: right;
	text-shadow: 0 0 3px #000000;
	color: red;
}
#validUsername, #validPassword, #validPassword2 {
	text-shadow: 0 0 2px #000000;
}

/* Menu CSS */
#cssmenu, #cssmenu > ul {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
#cssmenu {
	margin: 0;
	padding: 0;
	float: left;
	width: 55%;
	height: 100px;
}
#cssmenu > ul {
	height: 100%;
	margin: 0;
	padding: 0;
}
#cssmenu > ul > li {
	width: 25%;
	margin: 0;
	padding-top: 41px;
	list-style: none;
	text-align: center;
	float: left;
	position: relative;
}
#cssmenu > ul > li > a {
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 -1px 2px rgb(13, 13, 13);
}
#cssmenu > ul > li > a:hover {
	font-size: 19px;
	text-shadow: 0 -1px 2px rgb(13, 13, 13),
	0 0 5px rgb(151, 50, 31);
}
/* Image container CSS */
#boxholder {
	width: inherit;
	height: 150px;
	margin: 120px 0 0 0;
}
#boxholder > div {
	width: 25%;
	float: left;
}
.crop {
	box-shadow: 0 0 10px #000000;
	margin: auto;
	width: 250px;
	height: 150px;
	overflow: hidden;
	border-radius: 10px;
}
#boxholder img {
	width: 250px;
}
