a:link {color: brown;}      /* unvisited link */
a:visited {color: blue;}  /* visited link */
a:hover {color: darkblue;}  /* mouse over link */
a:active {color: yellow;}  /* selected link */

body {
	line-height: 100%; 
	margin: 100px 0 0 0;
	width: 100%;
	font-family: tahoma;
	text-align: justify;
	background: #19193b;
}
header {
	padding: 0;
	position: fixed;
	top: 0;
	background-image: url("images/menu-bg.png"); 
	width: inherit;
}
.logo {
	margin: 0;
	padding: 0;
	padding-right: 0;
	float: left;
	width: 30%;
}
.links {
	margin: 0;
	padding: 0;
	float: left;
	width: 55%;

}
.link {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 25%;
	float: left;
}
.loginOrWelcome {
	margin: 0;
	padding: 0;
	float: left;
	width: 15%;
}
.loginOrWelcome > form {
	margin: 10px;
}
